In [ ]:
# Specify the file path
file_path = '/content/drive/MyDrive/hyte_text_data.txt'

# Specify the number of lines to read
num_lines_to_read = 15

# Open the file in read mode ('r')
with open(file_path, 'r') as file:
    # Read the specified number of lines
    for _ in range(num_lines_to_read):
        line = file.readline()

        # Check if the line is not empty (end of file)
        if not line:
            break

        # Process or print the line
        print(line.strip())

Beverly_Adams	wasBornIn	Edmonton	1945-11-07	1945-11-07
Al_Gore	wasBornIn	Washington,_D.C.	1948-03-31	1948-03-31
Donald_R._McMonagle	wasBornIn	Flint,_Michigan	1952-05-14	1952-05-14
Donald_B._Beary	wasBornIn	Helena,_Montana	1888-12-04	1888-12-04
Ida_Halpern	wasBornIn	Vienna	1910-07-17	1910-07-17
João_Paiva	wasBornIn	Lisbon	1983-02-08	1983-02-08
Vincent_Wong_(Hong_Kong_actor)	wasBornIn	Hong_Kong	1983-07-07	1983-07-07
Julie_Bishop_(actress)	wasBornIn	Denver	1914-08-30	1914-08-30
Bradley_Cooper	wasBornIn	Philadelphia	1975-01-05	1975-01-05
José_Gonçalves_(footballer)	wasBornIn	Lisbon	1985-09-17	1985-09-17
Harry_Weese	wasBornIn	Evanston,_Illinois	1915-06-30	1915-06-30
Roger_MacBride	wasBornIn	New_Rochelle,_New_York	1929-08-06	1929-08-06
James_Neill	wasBornIn	Savannah,_Georgia	1860-09-29	1860-09-29
Wendy_Moniz	wasBornIn	Kansas_City,_Missouri	1969-01-19	1969-01-19
Rob_Wagner	wasBornIn	Detroit	1872-08-02	1872-08-02

In [ ]:
def count_unique_values(input_file_path, column_index):
    unique_values = set()

    with open(input_file_path, 'r') as input_file:
        for line in input_file:
            elements = line.strip().split('\t')
            if len(elements) > column_index:
                unique_values.add(elements[column_index])

    return len(unique_values)

# Example usage
input_file_path = '/content/drive/MyDrive/hyte_text_data.txt'  # Replace with your actual input file path

# Count unique values in the first column (column_index=0)
unique_values_first_column = count_unique_values(input_file_path, 0)
print(f"Number of unique values in the first column: {unique_values_first_column}")

# Count unique values in the third column (column_index=2)
unique_values_third_column = count_unique_values(input_file_path, 2)
print(f"Number of unique values in the third column: {unique_values_third_column}")

Number of unique values in the first column: 6498
Number of unique values in the third column: 6351

In [ ]:
# Specify the file path
file_path = '/content/drive/MyDrive/TEMPORAL_filtered_literal_data.txt'

# Specify the number of lines to read
num_lines_to_read = 15

# Open the file in read mode ('r')
with open(file_path, 'r') as file:
    # Read the specified number of lines
    for _ in range(num_lines_to_read):
        line = file.readline()

        # Check if the line is not empty (end of file)
        if not line:
            break

        # Process or print the line
        print(line.strip())

Jens_Petersen	wasBornOnDate	1941	1941	1941
Avery_Brundage	diedOnDate	1975	1975	1975
Werner_Herzog	wasBornOnDate	1942	1942	1942
Ngaio_Marsh	wasCreatedOnDate	2010	2010	2010
Layne_Staley	wasDestroyedOnDate	1987	1987	1987
Anne_of_Austria,_Queen_of_Poland	diedOnDate	1598	1598	1598
Alessandro_Manzoni	diedOnDate	1873	1873	1873
Cornelius_Castoriadis	wasCreatedOnDate	2000	2000	2000
Bradley_Bell	wasBornOnDate	1964	1964	1964
Joseph_Jackson_(screenwriter)	wasBornOnDate	1894	1894	1894
Sidney_Luft	diedOnDate	2005	2005	2005
Dewi_Zephaniah_Phillips	diedOnDate	2006	2006	2006
Erskine_Hamilton_Childers	diedOnDate	1974	1974	1974
Luigi_Ferrero	wasBornOnDate	1904	1904	1904
John_Fante	diedOnDate	1983	1983	1983

In [ ]:
def count_unique_values(input_file_path, column_index):
    unique_values = set()

    with open(input_file_path, 'r') as input_file:
        for line in input_file:
            elements = line.strip().split('\t')
            if len(elements) > column_index:
                unique_values.add(elements[column_index])

    return len(unique_values)

# Example usage
input_file_path = '/content/drive/MyDrive/TEMPORAL_filtered_literal_data.txt'  # Replace with your actual input file path

# Count unique values in the first column (column_index=0)
unique_values_first_column = count_unique_values(input_file_path, 0)
print(f"Number of unique values in the first column: {unique_values_first_column}")

# Count unique values in the third column (column_index=2)
unique_values_third_column = count_unique_values(input_file_path, 2)
print(f"Number of unique values in the third column: {unique_values_third_column}")

Number of unique values in the first column: 17948
Number of unique values in the third column: 1270

In [ ]:
# Specify the file path
file_path = '/content/drive/MyDrive/combined_data.txt'

# Specify the number of lines to read
num_lines_to_read = 15

# Open the file in read mode ('r')
with open(file_path, 'r') as file:
    # Read the specified number of lines
    for _ in range(num_lines_to_read):
        line = file.readline()

        # Check if the line is not empty (end of file)
        if not line:
            break

        # Process or print the line
        print(line.strip())

Beverly_Adams	wasBornIn	Edmonton	1945-11-07	1945-11-07
Al_Gore	wasBornIn	Washington,_D.C.	1948-03-31	1948-03-31
Donald_R._McMonagle	wasBornIn	Flint,_Michigan	1952-05-14	1952-05-14
Donald_B._Beary	wasBornIn	Helena,_Montana	1888-12-04	1888-12-04
Ida_Halpern	wasBornIn	Vienna	1910-07-17	1910-07-17
João_Paiva	wasBornIn	Lisbon	1983-02-08	1983-02-08
Vincent_Wong_(Hong_Kong_actor)	wasBornIn	Hong_Kong	1983-07-07	1983-07-07
Julie_Bishop_(actress)	wasBornIn	Denver	1914-08-30	1914-08-30
Bradley_Cooper	wasBornIn	Philadelphia	1975-01-05	1975-01-05
José_Gonçalves_(footballer)	wasBornIn	Lisbon	1985-09-17	1985-09-17
Harry_Weese	wasBornIn	Evanston,_Illinois	1915-06-30	1915-06-30
Roger_MacBride	wasBornIn	New_Rochelle,_New_York	1929-08-06	1929-08-06
James_Neill	wasBornIn	Savannah,_Georgia	1860-09-29	1860-09-29
Wendy_Moniz	wasBornIn	Kansas_City,_Missouri	1969-01-19	1969-01-19
Rob_Wagner	wasBornIn	Detroit	1872-08-02	1872-08-02

In [ ]:
def count_unique_values(input_file_path, column_index):
    unique_values = set()

    with open(input_file_path, 'r') as input_file:
        for line in input_file:
            elements = line.strip().split('\t')
            if len(elements) > column_index:
                unique_values.add(elements[column_index])

    return len(unique_values)

# Example usage
input_file_path = '/content/drive/MyDrive/combined_data.txt'  # Replace with your actual input file path

# Count unique values in the first column (column_index=0)
unique_values_first_column = count_unique_values(input_file_path, 0)
print(f"Number of unique values in the first column: {unique_values_first_column}")

# Count unique values in the third column (column_index=2)
unique_values_third_column = count_unique_values(input_file_path, 2)
print(f"Number of unique values in the third column: {unique_values_third_column}")

Number of unique values in the first column: 23488
Number of unique values in the third column: 7621

In [ ]:
def count_unique_values(input_file_path, column_index):
    unique_values = set()

    with open(input_file_path, 'r') as input_file:
        for line in input_file:
            elements = line.strip().split('\t')
            if len(elements) > column_index:
                unique_values.add(elements[column_index])

    return len(unique_values)

# Example usage
input_file_path = '/content/drive/MyDrive/class_triple2id.txt'  # Replace with your actual input file path

# Count unique values in the first column (column_index=0)
unique_values_first_column = count_unique_values(input_file_path, 0)
print(f"Number of unique values in the first column: {unique_values_first_column}")

# Count unique values in the third column (column_index=2)
unique_values_third_column = count_unique_values(input_file_path, 2)
print(f"Number of unique values in the third column: {unique_values_third_column}")

Number of unique values in the first column: 23488
Number of unique values in the third column: 6372

In [ ]:
def count_unique_values(input_file_path, column_index):
    unique_values = set()

    with open(input_file_path, 'r') as input_file:
        for line in input_file:
            elements = line.strip().split('\t')
            if len(elements) > column_index:
                unique_values.add(elements[column_index])

    return len(unique_values)

# Example usage
input_file_path = '/content/drive/MyDrive/sle_triple2id.txt'  # Replace with your actual input file path

# Count unique values in the first column (column_index=0)
unique_values_first_column = count_unique_values(input_file_path, 0)
print(f"Number of unique values in the first column: {unique_values_first_column}")

# Count unique values in the third column (column_index=2)
unique_values_third_column = count_unique_values(input_file_path, 2)
print(f"Number of unique values in the third column: {unique_values_third_column}")